<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimEngine.Properties.Settings>
            <setting name="UNSUPPORTED_TYPE" serializeAs="String">
                <value>Unsupported automata type</value>
            </setting>
            <setting name="COORDINATES_TOO_BIG" serializeAs="String">
                <value>Coordinates to big for game board</value>
            </setting>
            <setting name="NO_COORDINATES" serializeAs="String">
                <value>No coordinates specified in the file</value>
            </setting>
            <setting name="INVALID_SIZE" serializeAs="String">
                <value>The game board has an invalid width and or height</value>
            </setting>
            <setting name="INVALID_ROW" serializeAs="String">
                <value>Invalid row read, expected number to indicate a run</value>
            </setting>
        </SimEngine.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
